#ECE 8853 - Autonomous Control of Robotic Systems
#Project - Tidybot
#Sethu Madhav Bhattiprolu && Arnaud BERNARD
#Spring 2010

driver
(
  name "gazebo"
  provides ["simulation:0"]
  plugin "libgazeboplugin"
  server_id "default"
)

driver
(
  name "gazebo"
  provides ["laser:0"]
  #resolution 100   # Angular resolution 1 degree (181 readings @ 10Hz)
  #range_res 10     # Range resolution 1 cm (maximum range 81.92m)
  gz_id "pioneer2at_01::laser::laser_iface_0"
)

driver
(
  name "gazebo"
  provides ["fiducial:0"]
  gz_id "pioneer2at_01::laser::fiducial_iface_0"
)

driver
(
  name "gazebo"
  provides ["position2d:0"]
  gz_id "pioneer2at_01::position_iface_0"
)


driver
(
  name "gazebo"
  provides ["camera:0"]
  gz_id "pioneer2at_01::cam1_model::camera_iface_0"
  alwayson 1
  save 0
)

driver
(
  name "gazebo"
  provides ["laser:1"]
  #resolution 100   # Angular resolution 1 degree (181 readings @ 10Hz)
  #range_res 10     # Range resolution 1 cm (maximum range 81.92m)
  gz_id "pioneer2at_01::sonar_model::sonar_iface_0"
)

driver
(
  name "mapfile"
  provides ["map:0"]
  filename "gazebo/Media/materials/textures/RoomL.png"
  resolution 0.1  # 0.1m per pixel
#  origin [0 0]
)

driver
(
  name "amcl"
  provides ["position2d:1" "localize:0"]
  requires ["odometry:::position2d:0" "laser:0" "laser:::map:0"]
)


driver
(
  name "gazebo"
  provides ["actarray:0"]
  gz_id "pioneer2at_01::pioneerarm_01::arm_iface"
)

#driver
#(
#  name "gazebo"
#  provides ["gps:0"]
#  gz_id "pioneer2at_01::gps_model::gps_iface_0"
#)

#driver
#(
#  name "gazebo"
#  provides ["ptz:0"]
#  gz_id "camera1"
#)


#driver
#(
#  name "gazebo"
#  provides ["actarray:0"]
#  gz_id "pioneer2at_01::pioneerarm_01::arm_iface"
#  home_on_subscribe 1
#)

#driver
#(
#  name "gazebo"
#  provides ["gripper:0"]
#  gz_id "pioneer2at_01::pioneerarm_01::gripper_iface"
#)

#driver
#(
#  name "gazebo"
#  provides ["sonar:0"]
#  gz_id "pioneer2at_01::sonar_0"
#)

